<footer style="height: 80px; background-color: #2a3a4b; color: white; padding: 5px;">
    <p style="font-size: 120%; text-align: center;"> Designed by Emmanuel Oyeyinka - Copyright {{ getCurrentYear}}</p>
</footer>