<header style="height: 80px; padding: 10px;">
    <ul style="text-align: center;">
        <li style="background-color: #64acbe; color: white;"><a href="/"> Home </a></li>
        <li style="background-color: #64acbe; color: white;"><a href="/about"> About </a></li>
    </ul>
    <p style="color:dodgerblue; font-size: 150%; text-align:right; padding-right: 10px">{{ day }} | {{ hours }}:{{ minutes }} {{ zone }}</p>

</header>