<header style="height: 50px; padding: 10px;">
    <ul style="text-align: center;">
        <li style="background-color: #64acbe; color: white;"><a href="/"> Home </a></li>
        <li style="background-color: #64acbe; color: white;"><a href="/about"> About </a></li>
    </ul>
</header>